body{
   background-color: #eee;
}

.fondo {
   height: 400px;

   background: green url('https://placekitten.com/200/300') no-repeat right top scroll;
   /* background-color: green;
   background-image: url('https://placekitten.com/200/300');
   background-repeat: no-repeat;
   background-position: right bottom; /* Cambia la posicion de la imagen */
   /*background-attachment: fixed; /*La imagen queda fija con el scroll*/
   background-size: cover;
}  