body{
   background-color: #eee;
}

a{
   color: hotpink;
   text-decoration: none;
   background-color: #f00;
   padding: 10px;
   margin: 15px;
   border-radius: 4px;
   border: 1px solid #d00;
}

/* Cuando no le hicieron un click */
a:link{
   color: pink;
}

/* Cuando ya fue visitado */
a:visited{
   color: white;
}

a:hover{
   color: white;
   /* text-decoration: underline; */
   background-color: #f55;
}

/* Cuando le damos click */
a:active{
   color: black;
}